table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 50%;
}
  
td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}
  
tr:nth-child(even) {
    background-color: #dddddd;
}

.table-body {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 4%;
}

.add {
    font-size: 30px;
    float: right;
    margin: 0px 2%;
    cursor: pointer;
}

.actions {
    display: flex;
    justify-content: space-evenly;
    padding: 14% 0px;
}