<section class="table-body">
    <table>
        <tr>
            <th>Product Name</th>
            <th>Description</th>
            <th>Size</th>
            <th>Colour</th>
            <th>Actions</th>
        </tr>
        <tr *ngFor="let item of products;">
            <td>{{item.name}}</td>
            <td>{{item.fullDescription}}</td>
            <td>{{item.size}}</td>
            <td>{{item.colour}}</td>
            <td class="actions">
                <i class="fad fa-edit"></i>
            </td>
        </tr>
    </table>
</section>